.container {

    .searchBox {
        font-size: 1.6rem;
        display: flex;
        align-items: center;
        justify-content: end;
        margin-top: 40px;
        margin-right: 40px;

        .yearList,
        .monthList {

            .title {
                width: 200px;
                padding: 12px 20px;
                border-radius: 6px;
                cursor: pointer;
                position: relative;
                border: 1px solid var(--light-grey);
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .list {
                margin-top: 2px;
                visibility: hidden;
                transition: .25s;
                position: absolute;
                box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
                opacity: 1;
                transform-origin: 90% top;
                transform: scale(0);
                z-index: 2;
                border-radius: 6px;
                overflow-y: scroll;
                max-height: 200px;

                &.active {
                    visibility: visible;
                    opacity: 1;
                    transform: scale(1);
                }

                li {
                    width: 200px;
                    padding: 12px 0 12px 20px;
                    cursor: pointer;
                    transition: .25s;
                    background-color: #fff;
                    opacity: 1;

                    &:hover {
                        background-color: #b0b0b0;
                        color: #fff;
                    }

                    &.active {
                        background-color: #b0b0b0;
                        color: #fff;
                    }
                }
            }
        }

        .yearList {
            margin-left: 40px;
        }

        .btnBox {
            margin-left: 40px;

            button {
                font-size: 1.6rem;
                padding: 12px 26px;
                background-color: var(--main-color);
                color: #fff;
                border-radius: 10px;
                opacity: .8;
                transition: .25s;

                &:hover {
                    opacity: 1;
                }
            }

            &:hover {
                button {
                    opacity: 1;
                }
            }
        }
    }

    .wrapper {
        width: 96%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;

        .table {
            width: 96%;

            td {
                text-align: center;
                padding: 8px 0;
            }


            thead {
                margin-bottom: 10px;
            }

            tbody {

                &:before {
                    content: "";
                    display: block;
                    height: 10px;
                    color: transparent;
                }

                tr {
                    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
                    border-radius: 8px;
                    overflow: hidden;
                    transition: .25s;
                    border-collapse: separate;
                    border-spacing: 0 15px;

                    &:hover {
                        background-color: #f4f4f4;
                    }

                    td {

                        &.ct {
                            display: flex;
                            justify-content: center;
                        }
                    }

                    // &:before {
                    //     content: "";
                    //     display: inline;
                    //     height: 2px;
                    //     color: transparent;
                    // }
                }
            }
        }
    }
}