.container {

    .addNewBox {
        display: flex;
        align-items: center;
        justify-content: end;
        margin-top: 40px;
        margin-right: 40px;
        
        button {
            background-color: var(--iv-other)!important;
            display: flex;
            justify-content: center;
            align-items: center;

            svg {
                margin-left: 6px;
            }
        }
    }

    .addNewFeedbackBox {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .25s;
        visibility: hidden;
        opacity: 0;
        height: 0;

        &.active {
            visibility: visible;
            opacity: 1;
            height: 100%;
        }

        .wrapper {
            width: 80%;
            display: block;

            label {
                margin-bottom: 10px;
                display: block;
            }

            .title,
            .content {
                width: 100%;
                display: flex;
                justify-content: center;
            }

            input {
                padding: 8px 12px;
                border-radius: 8px;
                width: 90%;
                outline: none;
                margin-bottom: 20px;
                border: 1px solid #d7d6d6;
                transition: .2s;

                &:focus {
                    border-color: #484646;
                }
            }

            textarea {
                width: 90%;
                padding: 8px 12px;
                border-radius: 8px;
                border: 1px solid #d7d6d6;
                transition: .2s;
                outline: none;

                &:focus {
                    border-color: #484646;
                }
            }

            .addBtn {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 20px;

                button {
                    background-color: var(--success-text);
                }
            }
        }
    }

    .btnBox {
        margin-left: 40px;

        button {
            font-size: 1.6rem;
            padding: 12px 26px;
            background-color: var(--main-color);
            color: #fff;
            border-radius: 10px;
            opacity: .8;
            transition: .25s;

            &:hover {
                opacity: 1;
            }
        }

        &:hover {
            button {
                opacity: 1;
            }
        }
    }
}

.wrapper {
    width: 96%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;

    .table {
        width: 96%;

        td {
            text-align: center;
            padding: 8px 0;
        }


        thead {
            margin-bottom: 10px;
        }

        tbody {

            &:before {
                content: "";
                display: block;
                height: 10px;
                color: transparent;
            }

            tr {
                box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
                border-radius: 8px;
                overflow: hidden;
                transition: .25s;
                border-collapse: separate;
                border-spacing: 0 15px;

                &:hover {
                    background-color: #f4f4f4;
                }

                td {

                    &.ct {
                        display: flex;
                        justify-content: center;
                    }
                }

                // &:before {
                //     content: "";
                //     display: inline;
                //     height: 2px;
                //     color: transparent;
                // }
            }
        }
    }
}

.loadingBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.actionIconBox {
    display: flex;
    justify-content: center;

    .trashIcon {
        margin-right: 16px;
        transition: .25s;
        opacity: 0.5;
        cursor: pointer;

        svg {
            color: var(--main-color);
        }

        &:hover {
            opacity: 1;
        }
    }
}